.evoucher-main{ 
    background-color: var(--grey-20);
    display: grid;
    width: 1181px;
    height: auto;
    padding: 24px;
    grid-template-areas: 
        "ticket ticket"
        "left right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}
.evoucher-ticket{
    grid-area: ticket;
    width: 1133px;
    height: 256px;
    margin-bottom: 24px;
}
.evoucher-left{
    grid-area: left;
    display: grid;
    grid-template-rows: auto 1fr;
    margin-right: 12px;
}
.evoucher-right{
    grid-area: right;
    display: grid;
    grid-template-rows: auto 1fr;
    margin-left: 12px;
}

.evoucher-schedule{
    width: 554px;
    height: 230px;
    margin-bottom: 12px;
}
.evoucher-terms{
    width: 554px;
    height: 805px;
}
.evoucher-venue-map{
    width: 554px;
    height: 593px;
    margin-bottom: 12px;
}
.evoucher-rules{
    width: 554px;
    height: 442px;
}
